.footer
  background: var(--veryDarkBlue)
  padding: 3em 0
  text-align: center
  a 
    color: white
    text-decoration: none 
  &-menu 
    margin-top: 2em
    a  
      display: block
      padding: 1em 0
      text-transform: uppercase
      letter-spacing: 1px 
      color: var(--lightGray)
  &-social 
    margin-top: 2em
    a  
      width: 40px 
      height 40px
      display inline-block
    .twitter
      background: url('../images/icon-twitter.svg') no-repeat center
    .facebook
      background: url('../images/icon-facebook.svg') no-repeat center

